DATABASE_URL=postgresql://postgres:lNVYwIomZtmpJOiOHsyuUlGifiiiCZuH@viaduct.proxy.rlwy.net:31544/railway
JWT_SECRET=hfiwfbhsfshfskfjjfsbflsaifwuirywuiwhbsblkshfwgwiufhbsjlbsakfjascslbshvyugfwiepucnaodhwiu
ADMIN_EMAIL=shubhtripathi1438@gmail.com
ADMIN_PASSWORD=Shubhanshu@2006
FRONTEND_ORIGIN=https://parivartan-tau.vercel.app
ADMIN_SESSION_TTL=8h
